@model overDeRhein.ViewModels.CoverPageEditAddViewModel;

<a href="/" class="btn btn-primary coverPages">Terug naar overzigt</a>

<div class="content-container">
    <form asp-controller="CoverPageSubmit" asp-action="@Model.AddOrEdit" asp-route-type="@Model.Type" method="POST">
        <div class="row">
            <div class="col-lg">
                <p>
                    <label for="@nameof(Model.CoverPage.TCVTNumber)">TCVT Nummer</label>
                    <input type="number"
                            min="0"
                            class="form-control"
                            name="@nameof(Model.CoverPage.TCVTNumber)"
                            id="@nameof(Model.CoverPage.TCVTNumber)"
                            value="@Model.CoverPage.TCVTNumber">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.InspectionDate)">Keuringsdatum</label>
                    <input type="date"
                            class="form-control"
                            name="@nameof(Model.CoverPage.InspectionDate)"
                            id="@nameof(Model.CoverPage.InspectionDate)"
                            value="@Model.InspectionDate"></p>
                <p>
                    <label for="@nameof(Model.CoverPage.Executor)">Uitvoerder</label>
                    <input type="text"
                            class="form-control"
                            name="@nameof(Model.CoverPage.Executor)"
                            id="@nameof(Model.CoverPage.Executor)"
                            value="@Model.CoverPage.Executor">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.Specialist)">Deskundige</label>
                    <input type="text"
                            class="form-control"
                            name="@nameof(Model.CoverPage.Specialist)"
                            id="@nameof(Model.CoverPage.Specialist)"
                            value="@Model.CoverPage.Specialist">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.CrainSetup)">Opstelling kraan</label>
                    <input type="text"
                            class="form-control"
                            name="@nameof(Model.CoverPage.CrainSetup)"
                            id="@nameof(Model.CoverPage.CrainSetup)"
                            value="@Model.CoverPage.CrainSetup">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.ExecutionTowerHookHeight)">Uitvoering toren haakhoogte</label>
                    <input type="number"
                            min="0"
                            name="@nameof(Model.CoverPage.ExecutionTowerHookHeight)"
                            id="@nameof(Model.CoverPage.ExecutionTowerHookHeight)"
                            class="form-control"
                            value="@Model.CoverPage.ExecutionTowerHookHeight">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.BoomType)">Soort giek</label>
                    <input type="text"
                            class="form-control"
                            name="@nameof(Model.CoverPage.BoomType)"
                            id="@nameof(Model.CoverPage.BoomType)"
                            value="@Model.CoverPage.BoomType">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.TelescopicBoomParts)">Teleskoopgiek delen</label>
                    <input type="number"
                            class="form-control"
                            name="@nameof(Model.CoverPage.TelescopicBoomParts)"
                            id="@nameof(Model.CoverPage.TelescopicBoomParts)"
                            value="@Model.CoverPage.TelescopicBoomParts">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.ConstructionBoomMeters)">Opbouwgiek meters</label>
                    <input type="number"
                            class="form-control"
                            name="@nameof(Model.CoverPage.ConstructionBoomMeters)"
                            id="@nameof(Model.CoverPage.ConstructionBoomMeters)"
                            value="@Model.CoverPage.ConstructionBoomMeters">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.JibBoomMeters)">hulpgiek meters</label>
                    <input type="number"
                            class="form-control"
                            name="@nameof(Model.CoverPage.JibBoomMeters)"
                            id="@nameof(Model.CoverPage.JibBoomMeters)"
                            value="@Model.CoverPage.JibBoomMeters">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.FlyJibParts)">Fly jib delen</label>
                    <input type="number"
                            class="form-control"
                            name="@nameof(Model.CoverPage.FlyJibParts)"
                            id="@nameof(Model.CoverPage.FlyJibParts)"
                            value="@Model.CoverPage.FlyJibParts">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.BoomLength)">Gieklengte</label>
                    <input type="number"
                            class="form-control"
                            name="@nameof(Model.CoverPage.BoomLength)"
                            id="@nameof(Model.CoverPage.BoomLength)"
                            value="@Model.CoverPage.BoomLength">
                </p>


                <p>
                    <label for="@nameof(Model.CoverPage.StampsType)">Soort stempels</label>
                    <select name="@nameof(Model.CoverPage.StampsType)" id="@nameof(Model.CoverPage.StampsType)" class="form-control">
                        <option value="1" selected="@(Model.CoverPage.StampsType == 1)">Stempels</option>
                        <option value="2" selected="@(Model.CoverPage.StampsType == 2)">Doozerblad</option>
                    </select>
                </p>
            </div>
            <div class="col-lg">
                <div class="row">
                    <div class="col-lg">
                        <p>
                            <label for="@nameof(Model.CoverPage.Topable)">Topbaar</label>
                            <input type="checkbox"
                                    class="form-control"
                                    name="@nameof(Model.CoverPage.Topable)"
                                    id="@nameof(Model.CoverPage.Topable)"
                                    value="1"
                                    @Model.Topable>
                        </p>
                    </div>
                    <div class="col-lg">
                        <p>
                            <label for="@nameof(Model.CoverPage.Trolley)">Loopkat</label>
                            <input type="checkbox"
                                    class="form-control"
                                    name="@nameof(Model.CoverPage.Trolley)"
                                    id="@nameof(Model.CoverPage.Trolley)"
                                    value="1"
                                    @Model.Trolley>
                        </p>
                    </div>
                    <div class="col-lg">
                        <p>
                            <label for="@nameof(Model.CoverPage.AdjustableBoom)">Verstelbare giek</label>
                            <input type="checkbox"
                                    class="form-control"
                                    name="@nameof(Model.CoverPage.AdjustableBoom)"
                                    id="@nameof(Model.CoverPage.AdjustableBoom)"
                                    value="1"
                                    @Model.AdjustableBoom>
                        </p>
                    </div>
                </div>
                <p>
                    <label>Tekortkomingen</label>
                    <div class="row">
                        <div class="col">
                            <p>
                                Ja: 
                                <input type="radio"
                                        name="@nameof(Model.CoverPage.Shortcomings)"
                                        class="form-control"
                                        value="1"
                                        @Model.Shortcomings_yes>
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                Nee: 
                                <input type="radio"
                                        name="@nameof(Model.CoverPage.Shortcomings)"
                                        class="form-control"
                                        value="0"
                                        @Model.Shortcomings_no>
                            </p>
                        </div>
                    </div>
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.SignOutBefore)">Afgemeeld voor</label>
                    <input type="date"
                            class="form-control"
                            name="@nameof(Model.CoverPage.SignOutBefore)"
                            id="@nameof(Model.CoverPage.SignOutBefore)"
                            value="@Model.SignOutBefore">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.Elucidation)">Toelichting</label>
                    <textarea name="@nameof(Model.CoverPage.Elucidation)"
                                id="@nameof(Model.CoverPage.Elucidation)"
                                class="form-control elucidation">@Model.CoverPage.Elucidation</textarea>
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.WorkInstruction)">Werkinstructie</label>
                    <input type="text"
                            class="form-control"
                            name="@nameof(Model.CoverPage.WorkInstruction)"
                            id="@nameof(Model.CoverPage.WorkInstruction)"
                            value="@Model.CoverPage.WorkInstruction">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.CableSupplier)">Kabelleverancier</label>
                    <input type="text"
                            class="form-control"
                            name="@nameof(Model.CoverPage.CableSupplier)"
                            id="@nameof(Model.CoverPage.CableSupplier)"
                            value="@Model.CoverPage.CableSupplier">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.Observations)">Waarmemingen</label>
                    <input type="text"
                            class="form-control"
                            name="@nameof(Model.CoverPage.Observations)"
                            id="@nameof(Model.CoverPage.Observations)"
                            value="@Model.CoverPage.Observations">
                </p>
                <p></p>
                <p>
                    <label for="@nameof(Model.CoverPage.OperatingHours)">Aantal bedrijfsuren</label>
                    <input type="number"
                            min="0"
                            class="form-control"
                            name="@nameof(Model.CoverPage.OperatingHours)"
                            id="@nameof(Model.CoverPage.OperatingHours)"
                            value="@Model.CoverPage.OperatingHours">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.DiscardReason)">Aflef redenen</label>
                    <input type="text"
                            class="form-control"
                            name="@nameof(Model.CoverPage.DiscardReason)"
                            id="@nameof(Model.CoverPage.DiscardReason)"
                            value="@Model.CoverPage.DiscardReason">
                </p>
                <p>
                    <label for="@nameof(Model.CoverPage.CoverPageStatusID)">Status</label>
                    <select name="@nameof(Model.CoverPage.CoverPageStatusID)"
                            id="@nameof(Model.CoverPage.CoverPageStatusID)"
                            class="form-control">
                        @foreach (var coverPageStatus in Model.CoverPageStatus)
                        {
                            <option value="@coverPageStatus.CoverPageStatusID" selected="@(coverPageStatus.CoverPageStatusID == Model.CoverPage.CoverPageStatusID)">
                                @coverPageStatus.StatusType
                            </option>
                        }
                    </select>
                </p>
                

                @if (Model.AddOrEdit == "edit")
                {
                    <input type="hidden" name="@nameof(Model.CoverPage.CoverPagesID)" value="@Model.CoverPage.CoverPagesID">
                }
            </div>
        </div>

        <hr>

        @switch (Model.Type)
        {
            case "Hijs-testen":
                <div class="row">
                    <div class="col-lg">
                        <p>
                            <label for="@nameof(Model.CoverPage.LiftingTests.DateDrawn)">Datum opgesteld</label>
                            <input type="date" 
                                    name="@nameof(Model.CoverPage.LiftingTests.DateDrawn)"
                                    id="@nameof(Model.CoverPage.LiftingTests.DateDrawn)"
                                    min="0"
                                    max="99"
                                    class="form-control"
                                    value='@Model.CoverPage.LiftingTests.DateDrawn.Date.ToString("yyyy-MM-dd")'>
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.LiftingTests.MainBoomLength)">Hoofdgiek lengte</label>
                            <input type="number"
                                    name="@nameof(Model.CoverPage.LiftingTests.MainBoomLength)"
                                    id="@nameof(Model.CoverPage.LiftingTests.MainBoomLength)"
                                    min="0"
                                    max="99"
                                    class="form-control"
                                    value="@Model.CoverPage.LiftingTests.MainBoomLength">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.LiftingTests.MechSectionBoomLength)">Mech sectie gieklengte</label>
                            <input type="number"
                                    min="0"
                                    max="99"
                                    name="@nameof(Model.CoverPage.LiftingTests.MechSectionBoomLength)"
                                    id="@nameof(Model.CoverPage.LiftingTests.MechSectionBoomLength)"
                                    class="form-control"
                                    value="@Model.CoverPage.LiftingTests.MechSectionBoomLength">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.LiftingTests.AuxiliaryBoomLength)">Hulpgiek lengte</label>
                            <input type="number"
                                    min="0"
                                    max="99"
                                    name="@nameof(Model.CoverPage.LiftingTests.AuxiliaryBoomLength)"
                                    id="@nameof(Model.CoverPage.LiftingTests.AuxiliaryBoomLength)"
                                    class="form-control"
                                    value="@Model.CoverPage.LiftingTests.AuxiliaryBoomLength">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.LiftingTests.JibBoomLength)">Hoofdgiek giekhoek</label>
                            <input type="number"
                                    min="0"
                                    max="99"
                                    name="@nameof(Model.CoverPage.LiftingTests.JibBoomLength)"
                                    id="@nameof(Model.CoverPage.LiftingTests.JibBoomLength)"
                                    class="form-control"
                                    value="@Model.CoverPage.LiftingTests.JibBoomLength">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.LiftingTests.HoistingCablePartsAmount)">Heiskabel aantal parten</label>
                            <input type="number"
                                    min="0"
                                    name="@nameof(Model.CoverPage.LiftingTests.HoistingCablePartsAmount)"
                                    id="@nameof(Model.CoverPage.LiftingTests.HoistingCablePartsAmount)"
                                    class="form-control"
                                    value="@Model.CoverPage.LiftingTests.HoistingCablePartsAmount">
                        </p>
                    </div>
                    <div class="col-lg">
                        <p>
                            <label for="@nameof(Model.CoverPage.LiftingTests.SwingAngle)">Zwenkhoek</label>
                            <input type="number"
                                    min="0"
                                    max="99"
                                    name="@nameof(Model.CoverPage.LiftingTests.SwingAngle)"
                                    id="@nameof(Model.CoverPage.LiftingTests.SwingAngle)"
                                    class="form-control"
                                    value="@Model.CoverPage.LiftingTests.SwingAngle">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.LiftingTests.OwnMassBallast)">Eigen massa balast</label>
                            <input type="number"
                                    name="@nameof(Model.CoverPage.LiftingTests.OwnMassBallast)"
                                    id="@nameof(Model.CoverPage.LiftingTests.OwnMassBallast)"
                                    min="0"
                                    max="99"
                                    class="form-control"
                                    value="@Model.CoverPage.LiftingTests.OwnMassBallast">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.LiftingTests.PermissibleOperatingLoad)">Toelaatbare bedrijfslast</label>
                            <input type="number"
                                    name="@nameof(Model.CoverPage.LiftingTests.PermissibleOperatingLoad)"
                                    id="@nameof(Model.CoverPage.LiftingTests.PermissibleOperatingLoad)"
                                    min="0"
                                    max="99"
                                    class="form-control"
                                    value="@Model.CoverPage.LiftingTests.PermissibleOperatingLoad">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.LiftingTests.LbmInEffect)">LMB in werking</label>
                            <input type="number"
                                    name="@nameof(Model.CoverPage.LiftingTests.LbmInEffect)"
                                    id="@nameof(Model.CoverPage.LiftingTests.LbmInEffect)"
                                    min="0"
                                    max="99"
                                    class="form-control"
                                    value="@Model.CoverPage.LiftingTests.LbmInEffect">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.LiftingTests.TestLoad)">Proeflast</label>
                            <input type="number"
                                    name="@nameof(Model.CoverPage.LiftingTests.TestLoad)"
                                    id="@nameof(Model.CoverPage.LiftingTests.TestLoad)"
                                    min="0"
                                    max="99"
                                    class="form-control"
                                    value="@Model.CoverPage.LiftingTests.TestLoad">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.LiftingTests.Agreed)">Akkoord</label>
                            <input type="checkbox"
                                    name="@nameof(Model.CoverPage.LiftingTests.Agreed)"
                                    id="@nameof(Model.CoverPage.LiftingTests.Agreed)"
                                    class="form-control"
                                    @Model.AgreedHijsTesten>
                        </p>
                    </div>
                </div>
                break;
            default:
                <div class="row">
                    <div class="col-lg">
                        <p>
                            <label for="@nameof(Model.CoverPage.CableChecklists.CableDamage_6D)">Draadbreuk 6 dagen</label>
                            <input type="number"
                                    name="@nameof(Model.CoverPage.CableChecklists.CableDamage_6D)"
                                    id="@nameof(Model.CoverPage.CableChecklists.CableDamage_6D)"
                                    class="form-control"
                                    value="@Model.CoverPage.CableChecklists.CableDamage_6D">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.CableChecklists.CableDamage_30D)">Draadbreuk 30 dagen</label>
                            <input type="number"
                                    name="@nameof(Model.CoverPage.CableChecklists.CableDamage_30D)"
                                    id="@nameof(Model.CoverPage.CableChecklists.CableDamage_30D)"
                                    class="form-control"
                                    value="@Model.CoverPage.CableChecklists.CableDamage_30D">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.CableChecklists.OutsideCableDamage)">Beschadiging buitenzijde</label>
                            <input type="number"
                                    name="@nameof(Model.CoverPage.CableChecklists.OutsideCableDamage)"
                                    id="@nameof(Model.CoverPage.CableChecklists.OutsideCableDamage)"
                                    class="form-control"
                                    value="@Model.CoverPage.CableChecklists.OutsideCableDamage">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.CableChecklists.Rust)">Beschadiging roest corrosie</label>
                            <input type="number"
                                    name="@nameof(Model.CoverPage.CableChecklists.Rust)"
                                    id="@nameof(Model.CoverPage.CableChecklists.Rust)"
                                    class="form-control"
                                    value="@Model.CoverPage.CableChecklists.Rust">
                        </p>
                    </div>
                    <div class="col-lg">
                        <p>
                            <label for="@nameof(Model.CoverPage.CableChecklists.ReducedCableDiameter)">Verminderde kabeldiameter</label>
                            <input type="number"
                                    name="@nameof(Model.CoverPage.CableChecklists.ReducedCableDiameter)"
                                    id="@nameof(Model.CoverPage.CableChecklists.ReducedCableDiameter)"
                                    class="form-control"
                                    value="@Model.CoverPage.CableChecklists.ReducedCableDiameter">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.CableChecklists.MeasuringPoints)">Positie meetpunten</label>
                            <input type="number"
                                    name="@nameof(Model.CoverPage.CableChecklists.MeasuringPoints)"
                                    id="@nameof(Model.CoverPage.CableChecklists.MeasuringPoints)"
                                    class="form-control"
                                    value="@Model.CoverPage.CableChecklists.MeasuringPoints">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.CableChecklists.TotalDamage)">Beschadiging totaal</label>
                            <input type="number"
                                    name="@nameof(Model.CoverPage.CableChecklists.TotalDamage)"
                                    id="@nameof(Model.CoverPage.CableChecklists.TotalDamage)"
                                    class="form-control"
                                    value="@Model.CoverPage.CableChecklists.TotalDamage">
                        </p>
                        <p>
                            <label for="@nameof(Model.CoverPage.CableChecklists.DamageRustType)">Type Beschadiging roest</label>
                            <input type="number"
                                    name="@nameof(Model.CoverPage.CableChecklists.DamageRustType)"
                                    id="@nameof(Model.CoverPage.CableChecklists.DamageRustType)"
                                    class="form-control"
                                    value="@Model.CoverPage.CableChecklists.DamageRustType">
                        </p>
                    </div>
                </div>
                break;
        }

        <input type="submit" value="Opslaan" class="btn btn-success btn-block">
    </form>
</div>